workflows/mindhafen_ai.json
{
    "name": "MindHafen - Mentor IA (CORS FIX)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "mindhafen-ai",
                "options": {
                    "allowedOrigins": "*"
                },
                "responseMode": "responseNode"
            },
            "id": "1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                300
            ],
            "webhookId": "mindhafen-ai"
        },
        {
            "parameters": {
                "model": "llama-3.3-70b-versatile",
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "2",
            "name": "Groq Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                320,
                500
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.message }}",
                "options": {
                    "systemMessage": "Eres el Coach de MindHafen, un asistente terapéutico digital experto en neurociencia y TCC. \n\nDirectivas:\n1. Tono empático y científico.\n2. Sugiere siempre un paso práctico (respiración, enfoque, etc).\n3. No diagnostiques.\n\nUsuario: {{ $json.body.user }}"
                }
            },
            "id": "3",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.1,
            "position": [
                320,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"output\": \"{{ $json.output }}\"\n}"
            },
            "id": "4",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                540,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}